@media all {
.bgd > .content-area { background-color:;
background-image:linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,1) 0%, rgba(33,56,196,1) 100%, rgba(33,56,196,1) 100%);
background-image:-webkit-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,1) 0%, rgba(33,56,196,1) 100%, rgba(33,56,196,1) 100%);
background-position:center center;
background-repeat:no-repeat;
background-attachment:scroll;
 }
}

